* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    

}

.nav-collapse-colour {
    background-color: #F6EDF7;
}


/* Navbar */

.navbar-custom {
    height: 80px;
    background-color: #44f0d9;
}

.navbar-collapse {
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 20;
    width: 100vw;
}

.navbar {
    padding: 0;
}

/* footer*/
.footer {
    margin-top: 5px;
    width: 100%;
    height: 60px;
    background-color: #44f0d9;
}

.window-content {
    min-height: 100vh;
    margin-bottom: 100px;
}